<footer class="site-footer h-card">
  <data class="u-url" href="/"></data>

  <div class="wrapper block p-5 container-md">

    <h2 class="footer-heading">Singularity Labs</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">Singularity Labs</li><li><a class="u-email" href="mailto:SingularityLabs-ai@gmail.com">SingularityLabs-ai@gmail.com</a></li></ul>
      </div>

      <div class="footer-col footer-col-2"><ul class="social-media-list"><li><a href="https://github.com/SingularityLabs-ai"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#github"></use></svg> <span class="username">SingularityLabs-ai</span></a></li><li><a href="https://www.twitter.com/SingularityLabs-ai"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#twitter"></use></svg> <span class="username">SingularityLabs-ai</span></a></li></ul>
</div>

      <div class="footer-col footer-col-3">
        <p>Singularity Labs is a generative AI startup founded by ex-FAANG employees with focus on hypermedia content generation</p>
      </div>
    </div>

  </div>

</footer>
</body>
</html>