---
---

{% include header.html %}

<!-- <main  class="bg-indigo-500 flex h-screen items-center justify-center w-full">
</main>
 -->

<main class="page-content p-5 flex-1" aria-label="Content">
  <div class="wrapper block p-5 mx-auto max-w-[800px]">
    <article class="post block">
      <header class="post-header mb-5">
        <h1 class="post-title text-3xl">{{ page.title }}</h1>
      </header>

      <div class="post-content mb-30">
        {{ content }}
      </div>

    </article>
  </div>
</main>
{% include footer.html %}
