---
---

{% include header.html %}

<!-- <main  class="bg-indigo-500 flex h-screen items-center justify-center w-full">
  {{ content }}
</main>
 -->

<main class="page-content" aria-label="Content">
  <div class="wrapper block p-4 mx-auto w-[calc(100%+2rem)]">
    <article class="post">
      <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>
      </header>

      <div class="post-content mb-30">
        {{ content }}
      </div>

    </article>
  </div>
</main>
{% include footer.html %}
